# Credentials for Jira Cloud user
JIRA_USER_EMAIL=
JIRA_API_TOKEN=
JIRA_SERVER_URL=
JIRA_PROJECT_KEY=

# The email address of a valid user associated with the account making the request.
PAGERDUTY_USER_EMAIL=
# Credentials for PagerDuty user
PAGERDUTY_API_TOKEN=
